<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOE-Home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="E:\Learncode\Uni_HTML\LOE\css\LOE.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="E:\Learncode\Uni_HTML\LOE\css\bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="E:\Learncode\Uni_HTML\LOE\css\fontawesome-free-5.0.13\web-fonts-with-css\css\fontawesome-all.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-1">
                            <div class="language-select">
                                <select>
                                    <option>English</option>
                                    <option>Vietnamese</option>
                                    <option>Chinese</option>
                                </select>
                             </div>   
                        </div>
                        <div class="col-lg-4">  
                            <div class="search"><i class="fas fa-search"></i></div>
                            <nav class="header-menu-1">
                                <ul class="menu-navigation-left">   
                                    <li><a href="#Home">HOME</a></li>
                                    <li><a href="#About">ABOUT</a></li>
                                    <li><a href="#Menu">MENU</a></li>
                                    <li><a href="#Book">BOOK</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-2">
                                <p><a href="#Home"><img class="logo" src="E:\Learncode\Uni_HTML\LOE\images\LOE2.png"></a></p>
                                <table class="widget">
                                    <tr>
                                        <th>
                                            <i class="fas fa-shopping-cart" ></i>
                                        </th>
                                        <th>
                                            <i class="fas fa-bars"></i>
                                        </th>
                                    </tr>
                                </table>
                        </div>
                        <div class="col-lg-4">
                                <nav class="header-menu-2">
                                        <ul class="menu-navigation-right">    
                                            <li><a href="#Blog">BLOG</a></li>
                                            <li><a href="#Promotion">PROMOTION</a></li>
                                            <li><a href="#Recruitment">RECRUITMENT</a></li>
                                            <li><a href="#Contact">CONTACT</a></li>
                                        </ul>
                                </nav>
                                <div class="shopping-cart-icon"><i class="fas fa-shopping-cart" ></i></div>
                        </div>
                        <div class="col-lg-1">
                            <div class="social-links">
                                <table>
                                    <tr>
                                        <th class="facebook-icon"><a href="https://www.facebook.com/Ph%E1%BB%9F-Loe-1640014376213377/" target="_blank"><p class="fab fa-facebook-f"></p></a></th>
                                        <th class="twitter-icon"><p class="fab fa-twitter"></p></th>
                                        <th class="youtube-icon"><p class="fab fa-youtube-square"></p></i></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
    </header>
    <section id="Home">
        <div class="Welcome">
            <div class="preslide"><i class="fa fa-angle-left"></i></div>
                <div class="caption">
                    <div class="container" id="star">
                            <table>
                                    <tr>
                                        <td><img src="images/slider_star.png"></td>
                                        <td><img src="images/slider_star.png"></td>
                                        <td><img src="images/slider_star.png"></td>
                                        <td><img src="images/slider_star.png"></td>
                                        <td><img src="images/slider_star.png"></td>
                                    </tr>
                            </table>
                    </div>
                        <div class="container" ><p><img src="images/slider_badge2.png"></div></p>
                        <div class="container" ><h2>NOODLE SOUP & BEEFSTEAK</h2></div>
                        <div class="container" ><h5>DELICIOUS WITH TRADITIONAL RECIPES</h5></div>
                        <div class="container" id="booktable"><a href="#Book">BOOK A TABLE</a></div>
                </div>
            <div class="nextslide"><i class="fa fa-angle-right"></i></div>
            <div class="container">
                <div class="changeslide">
                <table>
                    <tr>
                        <th><i class="far fa-dot-circle"></i></th>
                        <th><i class="far fa-dot-circle"></i></th>
                        <th><i class="far fa-dot-circle"></i></th>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </section>
    <section id="About">
        <div class="container">
            <div class="section-title">
                <h2> ABOUT US </h2>
                <span class="menu-icon">
                    <i class="fas fa-users fa-2x"></i>
                </span>
            </div>
            <div class="section-3-body">      
            </div>
        </div>    
        </section>
    
    <footer>
        <div class="footer-widget">
            <div class="container">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                                <div class="menu-1">
                                        <div class="menu-1-header">
                                            <h6>MENUS</h6>
                                        </div>
                                        <div class="menu-1-footer">
                                            <ul>
                                               <li>HOT DISHES</li> 
                                               <li>SOUP</li> 
                                               <li>SAUSAGE</li> 
                                               <li>STARTER</li> 
                                               <li>DESSERT</li> 
                                               
                                            </ul>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                                <div class="menu-2">
                                        <div class="menu-2-header">
                                            <h6>ABOUT US</h6>
                                        </div>
                                        <div class="menu-2-footer">
                                            <ul>
                                               <li>HISTORY</li> 
                                               <li>OUR STORY</li> 
                                               <li>SERVICES</li> 
                                               <li>THE TEAM</li> 
                                               <li>CAREERS</li> 
                                               
                                            </ul>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                                <div class="menu-3">
                                        <div class="menu-3-header">
                                            <h6>USEFUL LINKS</h6>
                                        </div>
                                        <div class="menu-3-footer">
                                            <ul>
                                               <li>RESERVATION</li> 
                                               <li>PRIVATE TABLE</li> 
                                               <li>CONTACT US</li> 
                                               <li>GIFT CARD</li> 
                                               <li>GET LOCATION</li> 
                                            </ul>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                                <div class="menu-4-header">
                                        <h6>SUBCRIBE</h6>
                                    </div>
                                    <div class="menu-4-footer">
                                      <p>If you like us, please subcribe or follow us on social network.</p>
                                      <form>
                                          <input type="textbox" name="Email" value="Email"><span><i class="fas fa-envelope"></i></span>
                                      </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
               
                
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <h6>© 2018 LOE — All rights reserved. Developed by <a href="#Home"> Eden</a></h6>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>